@model CountryCaseViewModel


<div class="cases__informations">
    <article class="cases__information">
        <span class="cases__name">Country</span>
        <span class="cases__value">@Model.CountryName</span>
    </article>
</div>
<div class="cases__informations">
    <article class="cases__information">
        <span class="cases__name">Population</span>
        <span class="cases__value">@Model.Population</span>
    </article>
</div>
<div class="cases__informations">
    <article class="cases__information">
        <span class="cases__name">Daily Case</span>
        <span class="cases__value">@Model.Confirmed</span>
    </article>
</div>
<div class="cases__informations">
    <article class="cases__information">
        <span class="cases__name">Daily Deaths</span>
        <span class="cases__value">@Model.Death</span>
    </article>
</div>
